<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841536705272-madlq6d0dtboarf38m49taq7eu2meivc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841536705272-madlq6d0dtboarf38m49taq7eu2meivc</string>
	<key>API_KEY</key>
	<string>AIzaSyDkXUHF96BTdK-tip_2gnpnufV_MoaAs1M</string>
	<key>GCM_SENDER_ID</key>
	<string>841536705272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-87771</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-87771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841536705272:ios:92d99dcf33124d198a210d</string>
</dict>
</plist>